
.form{
    /* background-color: white; */
    padding: 2rem 0 ;
    border: var(--clr-border-dark) 1px solid;
    border-radius: 10px;
    background-color: var(--clr-primary-2);
    box-shadow: var( --dark-shadow);
}
.form h4{
    margin: 0 1rem;
}
.form input{
    width: 40%;
}

.list_container{
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--clr-primary-3);
    color: var(--clr-primary-1);
    border-radius: 5px;
   }
   .list{
       margin: 2rem;
       padding: 1rem;
   }
   .list_container h5{
       padding: 1rem;
       color: var(--clr-primary-1);
       border-radius: 7px;
       background-color: rgb(200, 208, 216);

   }
   .list_container h4:hover{
       background-color: rgb(200, 208, 216);
   }