.search_bar_container{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_bar_container input{
    padding-left: 2.5rem ;
    padding-right: 5rem;
    border-radius: 4px;
    cursor: pointer;
}
.search_bar_container button{
    position: absolute;
    right: 3%;
}

.search_bar_container .icon{
    position: absolute;

    left: 5%;
}
.search_bar_container .shortcut{
   
    background-color: var(--clr-primary-3);
    color: var(--clr-primary-1);
    padding: 0.1rem;
}